body{
  font-family: Arial, Helvetica, sans-serif;
  color:white;
  background-color: black;
  background-size:cover;
  background-image:);
  text-align: center;
}

.title {
  font-family: lobster;
  font-style: italic;
  font-size;50px
  text-align: center;
}
.welcome{
  color: silver;
}
.navbar{
  font-size:30px;
  color: white;
  font-style:
  padding right: 30px;
  padding left: 20px;
  text-decoration-color: white;
  margin-right: auto;
}
.navbar a{
  color:white;
}
.wd{
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 10px;
  letter-spacing: 2px;
  text-align: center;
  background-image: url("../images/hotel.jpg");
  background-size: cover;
  background-repeat:
  color: azure;
}
.wd h4{
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  color: silver;
}
.carousel-inner{
  display:block;
  margin-left: auto;
  margin-right: auto;
  image-orientation: center;
  width: 70%;
}
.box{ width: 900px;
border:i px solid white;
}

.box ul li{
  width: 120px;
}
.order{
  color: black;
  text-decoration-color: yellow;
  margin: auto;
}
.headings{
  font-size: 30px;
  color:silver;
}
.container{
  background-color: black;
  color:white;
}
.container-order{
  margin: auto;
  text-align: left;
  background-image: url("../images/hotel.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}
.custom-control, .custom-checkbox .custom-control-inline .label{
  color:white;
}
#make-order{
  background-image: url("../images/hotel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color:black;
}
.label{
  color: white;
}
.minicat{
  color:white;
}
.pizzacheckoutdelivery{
  color: black;
}
#contact{
  background-color: black;
  color: white;
  text-align: center;
}
.container-text-center-footer{
  background-color: black;
  color:white;
}
